.client {
  --card-set-item: 6;
  &__item {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    height: 92px;
    width: 170px;
    align-items: center;
    justify-content: center;

    transition: fill 250ms $time-function, border 250ms $time-function;
    &:hover,
    &:focus {
      border: 1px solid $primary-blue-color;
      cursor: pointer;
    }
  }
  &__icon {
    transition: fill 250ms $time-function;

    &:hover {
      fill: $primary-blue-color;
    }
  }
}
