.feature {
  padding-bottom: 0;
  &__title {
    @include font(14px, 1.14, 700, 0.03em);
    color: $primary-text-color;
    text-transform: uppercase;
    margin-bottom: 10px;

    text-align: left;
    white-space: nowrap;
  }
  &__subtitle {
    @include font(14px, 1.71, normal, 0.03em);
    color: $primary-grey-color;
    text-align: left;
  }
  &__icon-block {
    display: flex;
    background: $primary-button-color;
    border-radius: 4px;
    padding: 25px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}
