.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  & .logo {
    margin-bottom: 20px;
    display: block;
  }
  &__container {
    align-items: baseline;
    display: flex;
  }
  &__cont-item:last-child {
    margin-left: auto;
  }
  &__cont-item:not(:last-child) {
    margin-right: 70px;
  }
  &__feedback_item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__feedback_link {
    color: $primary-adress-color;
    &[target="_blank"] {
      color: $primary-white-color;
    }
    &:hover,
    &:focus {
      color: $primary-blue-color;
    }
  }
}
// Footer__feedback

// Subscribe
.subscribe {
  // margin-left: 70px;

  &__text {
    color: $primary-white-color;
    margin-bottom: 20px;
    text-transform: uppercase;
    @include font(14px, 1.14, bold, 0.03em);
  }
}

// Support
.support__address {
  @include font(14px, 1.7, normal, 0.03em);
  color: $primary-white-color;

  // margin-top: 20px;
  margin-bottom: 9px;
}

// Footer-socials
.footer__socials-link {
  fill: $primary-white-color;
  background-color: rgba(255, 255, 255, 0.1);
}

// Form
.container__newsletter {
  margin-left: 93px;
}

.newsletter-form {
  display: flex;
  &__label {
    display: flex;
    flex-direction: column;
  }
  &__input {
    @include font(16px, 1.06, normal, 0.03em);

    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: inherit;
    width: 358px;
    height: 50px;
    color: $primary-white-color;
  }
}

// Btn__telegram
.newsletter-form__btn {
  position: relative;
  padding: 10px 62px 10px 29px;
  align-self: flex-end;
  margin-left: 12px;
}
.newsletter-form__icon {
  top: 13px;
  right: 28px;
  position: absolute;
}
