.footer {
  background-color: #2f303a;
  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
    display: flex;
  }
}
// Footer__feedback

// Subscribe
.subscribe {
  margin-left: 70px;

  &__text {
    color: $primary-white-color;
    margin-bottom: 20px;
    text-transform: uppercase;
    @include font(14px, 1.14, bold, 0.03em);
  }
}

// Support
.support__address {
  @include font(14px, 1.7, normal, 0.03em);
  color: $primary-white-color;

  margin-top: 20px;
  margin-bottom: 9px;
}

// Footer-socials
.footer__socials-link {
  fill: $primary-white-color;
  background-color: rgba(255, 255, 255, 0.1);
}

// Form
.container__newsletter {
  margin-left: 93px;
}

.newsletter-form {
  display: flex;
  height: 86px;
  &__label {
    @include font(14px, 1.14, bold, 0.03em);
    color: $primary-white-color;
    font-family: Roboto;
    // margin-bottom: 100px;
    text-transform: uppercase;
    // margin: 0;
  }
  &__input {
    @include font(16px, 1.06, 0.03em, normal);

    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: inherit;
    width: 358px;
    height: 50px;
    color: white;
    margin-top: 20px;
  }
}

// Btn__telegram
.newsletter-form__btn {
  position: relative;
  padding: 10px 62px 10px 29px;
  align-self: flex-end;
  margin-left: 12px;
}
.newsletter-form__icon {
  top: 13px;
  right: 28px;
  position: absolute;
}

.footer__feedback_item {
  @include font(14px, 1.14, 0.02em, normal);
  color: $primary-grey-color;
}
