.header {
  border-bottom: 1px solid $border-solid;
  padding: 0;
  .logo {
    margin-right: 90px;
  }
  &__container {
    display: flex;
    align-items: center;
  }
  &__nav-list {
    display: flex;
    color: $primary-text-color;
  }
  &__nav-item {
    & + & {
      margin-left: 50px;
    }
  }
  &__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    @include font(14px, 1.14, 500, 0.02em);
    transition: color 250ms $time-function;

    &:hover,
    &:focus,
    &.current {
      color: $primary-blue-color;
    }
    &.current::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 4px;
      width: 100%;
      background: $primary-blue-color;
      border-radius: 2px;
      display: block;
    }
  }
  &__feedback-list {
    display: flex;
    margin-left: auto;
  }
  &__feedback-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__feedback-icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
