.section-product {
  padding-top: 80px;
  --card-set-item: 3;
}

// Grid__item
.grid__item {
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition: box-shadow 250ms $time-function;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

// Product-card
.product-card__name {
  @include font(18px, 2, bold, 0.06em);
  padding: 20px 24px 4px;
  color: $primary-text-color;
}
.product-card__discription {
  @include font(16px, 1.98, normal, 0.03em);
  color: $primary-grey-color;
  padding: 4px 24px 20px;
}
