.feedback {
  display: flex;
  margin-left: auto;

  &__item {
    margin-left: 50px;
  }

  .feedback__link {
    color: $primary-grey-color;
    font-size: 14px;
    fill: $primary-grey-color;
    position: relative;

    transition: color 250ms $time-function fill 250ms $time-function;
    display: block;
    white-space: nowrap;

    &:focus,
    &:hover {
      color: $primary-blue-color;
      fill: $primary-blue-color;
    }
  }
  &__icon {
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
    padding-bottom: 2px;
  }
}
