// Overlay Text
.product-card__overlay-text {
  color: $primary-white-color;
  position: absolute;
  @include font(18px, 1.55, normal, 0.03em);
  top: 0px;
  left: 24px;
  height: 100%;
  transform: translate(-50%, -50%);
  transform: translateY(135%);
  transition: transform 250ms $time-function;
  overflow: auto;

  .product-card:hover &,
  .product-card:focus & {
    transform: translateY(0);
  }
}
// Overlay Bcg
.product-card {
  &__overlay {
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: $primary-blue-color;
      position: absolute;
      transform: translateY(100%);
      transition: transform 250ms var(--time-function);
    }

    .product-card:hover &::before,
    .product-card:focus &::before {
      transform: translateY(0);
    }
  }
}
