ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: Roboto;
  letter-spacing: 0.03em;
  font-weight: normal;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
textarea {
  resize: none;
}
