$primary-text-color: #212121;
$primary-blue-color: #2196f3;
$primary-white-color: #ffffff;
$primary-grey-color: #757575;
$primary-black-color: #000000;
$primary-button-color: #f5f4fa;
$primary-bcg-color: #2f303a;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
